option_settings:
  "aws:elasticbeanstalk:container:php:phpini":
    document_root: /public
    memory_limit: 512M
  "aws:elasticbeanstalk:sqsd":
    HttpPath: /worker/queue
  "aws:elasticbeanstalk:application:environment":
    APP_ENV: production
    APP_KEY: base64:x6jEs/IPZAOWgCzx5BwhyA4rqf50+hVNpRWCxmACqU4=
    DB_HOST: radiodb.cmgqbiwucofn.ap-northeast-1.rds.amazonaws.com
    DB_DATABASE: radiodb
    DB_USERNAME: slashpot
    DB_PASSWORD: fallout1234
    AWS_S3_KEY: AKIAJ5RRNVEKHUAB63OQ
    AWS_S3_SECRET: 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
    AWS_S3_REGION: ap-northeast-1
    AWS_S3_BUCKET: elasticbeanstalk-ap-northeast-1-342665690200
    AWS_SQS_KEY: AKIAJ5RRNVEKHUAB63OQ
    AWS_SQS_SECRET: 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
    AWS_SQS_PREFIX: https://sqs.us-east-1.amazonaws.com/{ID}
    AWS_SQS_QUEUE: {QUEUE}
    AWS_SQS_REGION: ap-northeast-1
    REDIS_HOST: radiocache-001.jiwwf9.0001.apne1.cache.amazonaws.com